[alias]
  undo = reset --soft HEAD^
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pp = !git pull --rebase && git push
  cb = checkout -
  mb = !git checkout develop && git pull && git checkout - && git rebase develop
  mbpp = !git mb && git push && git cb && git rebase master
  s = status
  am = commit --amend
  tempignored = !git ls-files -v | grep '^[[:lower:]]'
  cleanignored = !git ls-files --ignored --exclude-standard | xargs git rm
  ff = !git flow feature finish
  fp = !git flow feature publish
  fs = !git flow feature start
  pr = "!f() { git checkout develop && git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1 && git rebase -i origin/develop && git checkout develop && git merge - && git push; }; f"
  commend = commit --amend --no-edit
[merge]
  ff = only
  conflictstyle = diff3
[status]
  showUntrackedFiles = all
[apply]
  whitespace = fix
[core]
  excludesfile = /Users/dangamble/.gitignore_global
  editor = nvim
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  autocrlf = input
[help]
	autocorrect = 0
[user]
	name = Dan Gamble
	email = dan@dangamble.co.uk
	signingkey = 0956160665BAE85D
[pull]
  rebase = true
[push]
  default = simple
[github]
  user = dan-gamble
[ghi]
	token = !security find-internet-password -a dan-gamble -s github.com -l 'ghi token' -w
[commit]
	gpgsign = true
[gpg]
	program = gpg
