[alias]
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[apply]
    whitespace = fix
[core]
	excludesfile = /Users/dangamble/.gitignore_global
	editor = vim
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	autocrlf = input
[help]
	autocorrect = 1
[user]
	name = Dan Gamble
	email = dangamble89@gmail.com
[push]
	default = simple
[github]
	user = dangamble89
